
## Postgress database settings.
## Used when the included docker-compose file is run
DB_NAME=''
DB_USER=''
DB_PASS=''
DB_PORT=''

## Email settings
# EMAIL_USE_SSL=True
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT='587'
EMAIL_USE_TLS=True
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''

DEBUG=False

## Django admin
# Used to add initial user upon running: manage.py createsuperuser --noinput
DJANGO_SUPERUSER_EMAIL="admin@shulehub.com"
SUPER_USER_NAME="admin"
DJANGO_SUPERUSER_PASSWORD="admin"

# required
SECRET_KEY='6%hc3+^4=3phyx=86dqp%kl!g850jsv1keaw4u7tv(b&k_d324'
ALLOWED_HOSTS='localhost,127.0.0.1'

FRONTEND_DOMAIN='FRONTEND_DOMAIN'
FRONTEND_INVITE_URL='/invitations'
